<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <!-- PUT THAT IN THE ACTUAL APP CONFIG -->
  <configSections>
    <section name="ServiceSettings" type="Zeus.Lib.WebServices.Models.ServiceSettings.ServiceSettings, Zeus.Lib.WebServices"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <ServiceSettings>
    <!-- Credentials for the service -->
    <ServiceUsers>
    </ServiceUsers>
    <!-- -->
    <ServiceSchedules>
      <!--
      <ServiceSchedule Interval="Daily" MethodsToExecute="ReStockSmart" TimeOfDay="05:00:00" StartAt="1" Email="marko.marov@zeus.ie" />
      -->
    </ServiceSchedules>
  </ServiceSettings>
  
  <appSettings>
    <!-- This one is for the built in webserver -->
    <!-- HTTPS Config -->
    <add key="IntervalMinutes" value="5" />
    <add key="IntervalMinutesLong" value="720" />
    <add key="MethodsToExecute" value="" />
    <add key="MethodsToExecuteLong" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>